<p-dialog [closable]="false" [(visible)]="shLayouts" [modal]="true" [style]="{width: '40vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="true">
    <!-- digram header  -->
    <p-header>Select Layout of {{RouterId}}</p-header>
    <!--/ digram header  -->

    <!-- digram Content -->
    <p-table >
        <ng-template pTemplate="header">
        <div class="form-check" *ngFor="let item of layouts">
            <input class="form-check-input" type="radio" name="options" (click)="model.option = item"
            [checked]="item === model.option">
            <label class="form-check-label" for="exampleRadios1">
            {{item}}
            </label>
           </div>
         <p>
            Selected option: {{model.option}}
          </p>
          </ng-template>
          
    </p-table>
    <!-- close -->
    <ng-template pTemplate="footer">
        <button icon="pi pi-times" class="btn conBtn mt-3" 
            label="Close" (click)="closeDialog()">Confirm</button><button icon="pi pi-times" class="btn btn-danger mt-3" (click)="shLayouts = false;"
            label="Close">Close</button>
    </ng-template>
    <!-- closeDialog() -->
    <!--/ close -->
</p-dialog>