// @import '../../../../../styles.scss';
// $tableHeight: calc((100%) - (68px));

// .container-fluid {
//     background-color: rgb(233, 227, 227);
//     padding: 50px;
//     height: $tableHeight;
//     overflow: hidden;
// }

// .readButton {
//     border: none;
//     background-color: #3498DB;
//     color: white;
//     border-radius: 2px;
//     padding: 3px;
// }
@import '../../../../../styles.scss';
$tableHeight: calc((100%) - (68px));

.container-fluid {
    background-color: rgb(233, 227, 227);
    padding: 25px;
    height: $tableHeight;
    overflow: hidden;
}

.example-container {
    background-color: #F3F3F5;
    margin-top: 15px;
    border-radius: 5px !important;
}


.activateButton {
    border: none;
    background-color: #13653f;
    color: white;
    border-radius: 2px;
    padding: 4px;
}

.deactivateButton {
    border: none;
    background-color: #92051e;
    color: white;
    border-radius: 2px;
    padding: 4px;
}

.actionBtn {
    border: none;
    background-color: white
}

.filForm {
    padding-left: 5px;
}

mat-icon {
    cursor: pointer;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #1E1838;
    margin-bottom: -10px;
}

mat-form-field {
    width: 35%;
}

.addButton {
    border: none;
    background-color: #3498DB;
    color: white;
    border-radius: 2px;
    padding: 4px;
}

.mat-column-message {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 50% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-type {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-userName,
.mat-column-date {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-action,
.mat-column-date {
    word-wrap: break-word !important;
    white-space: unset !important;
    margin-left: 15px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.proceedButton {
    border: none;
    background-color: #13653f;
    color: white;
    border-radius: 2px;
    padding: 4px;
}

.viewBtn {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    border: none;
}