<div class="container-fluid">
    <p-toast></p-toast>
    <p class="title">All Reports To Ask Authorize</p>
    <img src="./assets/icons/dash.svg">
    <div class="example-container mat-elevation-z8" *ngIf="isEmpty===false">
        <div [formGroup]="filterForm" class="filForm">
            <mat-form-field>
                <input matInput #filVal (keyup)="applyFilter(filVal)" placeholder="Filter" formControlName="Filter">
            </mat-form-field>
        </div>
        <div>

            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tCode">
                    <mat-header-cell *matHeaderCellDef>T Code </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tCode}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ask">
                    <mat-header-cell *matHeaderCellDef class="pl-4">Ask Authorize</mat-header-cell>
                    <mat-cell *matCellDef="let element"> <button mat-button class="askButton"
                            (click)="openDialog(element.id)">Ask For Authorize</button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [length]="totalLength" [pageSize]="10" [pageSizeOptions]="[10,25,50]">
            </mat-paginator>
        </div>
    </div>
    <div class="messageDiv" *ngIf="isEmpty===true">
        <div>
            <i class="fa-solid fa-triangle-exclamation fs-2"></i> 
        </div>
        <h5 class="message">
            You Have Authorization On All Reports
        </h5>
        </div>
</div>
