* {
    color: black;
}

i {
    font-size: 28px;
}

@media(min-width:990px) {
    .navbar {
        padding: 14px 20px 14px 20px;
        height: 68px;
    }
}

@media(max-width:990px) {
    .navbar {
        li {
            margin-left: 10px;
        }
    }
}

.searchInp {
    width: 350px !important;
    margin-right: 30px;
    position: relative;
    height: 40px;
}

.searchIcon {
    position: absolute;
    top: 12px;
    right: 45px;
    height: 16px;
    width: 16px;

}

.nameLink {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.notification {
    margin-right: 20px !important;
}

img:not(.searchIcon, .menu) {
    height: 20px;
    width: 20px;
    margin-top: 10px;
}

.badge-notification {

    margin-top: 6px;
    margin-right: 6px;
    color: white;
}

.settingMenu {

    padding: 16px 16px 0px 16px;
}

.settingItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 10px;

    height: 54px;
    padding: 0px 16px 0px 16px;
    background: #F3F3F5;
    border-radius: 5px;
}

.userName {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #464646;
    margin-top: 16px;
    cursor: pointer !important;
}

.settingItemText {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    margin: 15px 15px 15px 0px;
    color: #000000;
    cursor: pointer !important;
}

.notificationMenu {

    padding: 10px 10px 0px 10px;

}

.notificationMenuItem {
    box-sizing: border-box;

    /* Auto layout */
    justify-content: center;
    padding: 5px 15px 10px 20px;
    gap: 10px;
    height: 106px;

    /* primary color/primary 5% */

    background: #F3F3F5;
    /* primary color/primary 15% */

    border: 1px solid #DDDDE1;
    border-radius: 5px;
    margin-bottom: 10px;

}

.notificationMenuItemCode {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    // line-height: 24px;
    /* identical to box height */
    display: block;
    text-transform: capitalize;

    color: #434343;

}

.notificationMenuItemDesc {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #292929;

}

.notificationMenuItemButton {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    color: white;
    margin-bottom: 5px;
    background-color: #56526A !important;
}

.notificationTitle {
    justify-content: space-between;
    display: flex;

    p {
        font-family: 'poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        text-transform: capitalize;

        color: #000000;

    }

    button {
        background: #56526A;
        border-radius: 5px;
        width: 24px;
        height: 24px;
        color: white;
    }


}

::ng-deep .mat-menu-panel {
    min-width: 350px !important;
}

button {
    cursor: pointer !important;
}

img {
    cursor: pointer;
}

.close {
    border: none;
    font-size: 15px;
    font-weight: lighter;
}

.notifyButton {
    text-align: end !important;
}

.showButton {
    margin-left: auto;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    border: none;
    background-color: #56526A !important;

}

.showButtonDiv {
    text-align: end;
    width: 100%;
    font-size: 12px;
}

.menu {
    cursor: pointer !important;
    margin-top: 15px !important;
    border: 2px solid #1E1838;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

nav {
    background-color: white !important;
}