<div class="closeDiv"><button class="close" (click)="close()"><span class="mb-3 text-light">x</span></button></div>
<div class="container-fluid">
    <p-toast></p-toast>
    <form [formGroup]="reasonForm">
        <div class="sub-heading mb-2">Please Add Rejection Reason</div>
        <textarea cols="40" rows="10" class="tesxt-area" formControlName="Reason"></textarea>
        <div class="sendBtn"> <button type="submit" class="btn sBtn mt-3" [disabled]="!reasonForm.valid"
                (click)="sendReason()">Send</button>
        </div>
    </form>
</div>
