<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 requestCard" *ngFor="let report of allReports">
            <div class="reportInfo">
                <b class="d-block">{{"T code : "+ report.tCode}}</b>
                <small class="d-block"> {{"Description : " + report.tCode}}</small>
            </div>

            <button (click)="openDialog(report.id)">Ask For Authorize</button>
        </div>

    </div>
</div>
<dx-load-indicator *ngIf="!loaded" id="large-indicator" height="60" width="60"></dx-load-indicator> -->
<div class="container-fluid">
    <p-toast></p-toast>
   <div class="d-flex">
    <a href="javaScript:void" routerLink="/all-users" class="Back ">
        <i class="fa-solid fa-arrow-left "></i>
    </a>
    <div><p class="title">All Reports To Add Authorize For {{fullName}}</p><img src="./assets/icons/dash.svg"></div>
    
   </div>
    
    <div class="example-container mat-elevation-z8" *ngIf="isEmpty===false">
        <div [formGroup]="filterForm" class="filForm">
            <mat-form-field>
                <input matInput #filVal (keyup)="applyFilter(filVal)" placeholder="Filter" formControlName="Filter">
            </mat-form-field>
        </div>
        <div>

            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tCode">
                    <mat-header-cell *matHeaderCellDef>T Code </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tCode}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ask">
                    <mat-header-cell *matHeaderCellDef class="pl-4">Add Authorize</mat-header-cell>
                    <mat-cell *matCellDef="let element"> <button mat-button class="askButton"
                            (click)="openDialog(element.id)">Add Authorize</button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <!-- <button mat-button color="primary">Primary</button> -->
            <!-- <button mat-button color="accent">Accent</button> -->
            <!-- (page)="getٌRequests($event)" -->
            <mat-paginator [length]="totalLength" [pageSize]="25" [pageSizeOptions]="[25,50,100]">
            </mat-paginator>
        </div>
    </div>
    <div class="messageDiv" *ngIf="isEmpty===true">
        <div>
            <i class="fa-solid fa-triangle-exclamation fs-2"></i> 
        </div>
        <h5 class="message">
            {{fullName}} Authorized On All Reports
        </h5>
        </div>
</div>