<div class="closeDiv"><button class="close" (click)="close()"><span class="mb-3 text-light">x</span></button></div>

<div class="text-center">
    <b class="mt-2 mb-2 text-center">Please Select Values</b>
</div>
<div class="row" *ngFor="let object of reportObjects ">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- <div class="row">
            <div *ngFor="let val of object.objectValue" class="d-flex justify-content-right col-6"> -->
        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked
            (change)=" openRejectDialog(object.id)" />
        <label class="form-check-label" for="flexCheckDefault">
            {{object.objectValue}}
        </label>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>